// TODO: Replace with your Firebase configuration
// Run: flutterfire configure
// This will generate the real firebase_options.dart file

import 'package:firebase_core/firebase_core.dart' show FirebaseOptions;
import 'package:flutter/foundation.dart'
    show defaultTargetPlatform, kIsWeb, TargetPlatform;

class DefaultFirebaseOptions {
  static FirebaseOptions get currentPlatform {
    throw UnimplementedError(
      'Please run "flutterfire configure" to generate firebase_options.dart',
    );
  }
}
